:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  height: 100%;
}

[data-theme='dark'] {
  --background: #190019;
  --cardBackground:#151415;
  --sidebar-color:#241f24;
  --textColor: #ffffff;
  --primary: #2b124c;
  --secondary: #61346c;
  --highlight: #dfb6b2;
}

[data-theme='light'] {
  --background: #166379;
  --cardBackground:#06557d;
  --sidebar-color:#1e2f2f;
  --textColor: #E0E0E0;
  --primary: #1f5816;
  --secondary: #EA7148;
  --highlight: #E0A100;
}

body {
  transition: all .5s;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  transition: all .5s;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  box-shadow: 0px 1px 18px var(--secondary);
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
